#container
{
    width: 1000px;
    height: 700px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(190, 190, 190);
    font-size: 30px;
}

#leftDiv
{
width: 500px;
height: 700px;
text-align: center;
}

#rightDiv
{
width: 500px;
height: 700px;
text-align: center;
}

input
{
    width: 400px;
    height: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    box-sizing: border-box;
}

input[type = "submit"]:hover
{
    cursor: pointer;
}